{#TO BE INCLUDED WHERE NEEDED#}
<div class="modal fade audit-modal" id="audit" data-backdrop="false">
    <div class="modal-dialog hasWidth">
        <div class="modal-content" >
            <h4 class="text-center">{{ modalTitle }}</h4>
            <div class="audit-info"></div>
            <div class="modal-body text-center">
                <button type="button" class="btn btn-success" data-dismiss="modal">{{ 'close'|trans | desc('Close')}}</button>
            </div>
        </div>
    </div>
</div>